//forms set for edit.ejs, formcampground.ejs, editcomment.ejs, showcomment.ejs

#wrapper {
  h1 {
    text-align: center;
  }
  .form-camp {
    width: 50%;
    margin: 25px auto;
  }
}

//set form styles for login. ejs and register.ejs
#authentication {

  h1 {
    text-align: center;
  }
  .auth-forms{
    width: 30%;
    margin: 25px auto;
  }
}
